body {
  background: #000;
  color: #fff;
}
.carousel-inner img {
  filter: brightness(50%);
}

@font-face {
  font-family: logo;
  src: url(./assets/Satisfy-Regular.ttf);
}

.mylogo {
  font-family: logo;
  margin: 5px 0px 0px 10px;
}
.banner-text {
  background: #00000031;
  display: inline-block;
  padding: 0px 20px;
  margin-top: 5px !important;
  margin: 0px;
  font-family:arial;
}

.myheader h5 {
  color: #ffffff9d;
  margin-bottom: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.myheader p {
  color: #ffffffb9;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600px;
}

.banner-img {
  height: 100vh !important;
}

#banner-items {
  color: #FFF;
}
.featcher h6 {
  display: inline-block;
  font-family:arial;
  padding: 5px;
}

.feature h1 {
  font-family:arial;
  font-size: 50px;
}

.feature .col-12 p {
  font-size: 12px;
  color: #ffffff95;
}

.product .col-md-3 {
  box-sizing: border-box;
  padding: 10px 10px 0px 10px;
  border: 1px solid black;
  border-radius: 20px;
  width: 250px;
}

.product img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}

.product small {
  color: #ffffff70;
}

.product span {
  font-weight: bold;
  color: rgba(0, 255, 255, 0.615)
}

.product i {
  font-size: 10px;
  margin-bottom: 5px;
}
.shop a {
  text-decoration: none;
  color: #e1dede;
}

.shop i {
  display: block;
  font-size: 14px;
  border-radius: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 12px;
  transition: all .2s ease-in;
}

.shop i:hover {
  background: #000;
}

#explore {
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

#explore h1 span {
  color: red;
}
.b1,
.b2 {
    height: 300px;
    width: 550px;
    border-radius: 20px;
}

.b1 {
    background: url(../public/images/banner/b17.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.b2 {
    background: url(../public/images/banner/b10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#banner-botom {
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 360px;
  border-radius: 20px;
}
#signupbanner {
  background: #200f3ba5;
}

#signupbanner p {
  color: #ffffff8a;
}

#signupbanner p span {
  color: yellow !important;
  font-weight: bold;
}

.footer span {
  color: gray
}

.collan {
  color: #fff !important;
}

.footer i {
  font-size: 25px;
  margin: 5px;
  color: #fff !important;
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .row {
  height: 400px;
}

.banner h1 {
  font-size: 45px !important;
  font-family:arial;
}

.banner small {
  color: #fff !important;
}
#search input{
  background: transparent;
  color: #fff;
  border-color: gray;
}
#search input::placeholder{
  color:gray;
}
#search span{
  background: #212529;
  color:#fff;
  border-color:gray;
}
#search{
  width:50%;
}
.mypagination ul li a {
  background: transparent !important;
  color: #0dcaf098;
  border: 1px solid gray;
  transition: all .2s ease-in;
}

.mypagination ul li a:hover {
  color: #0dcaf0;
  font-weight: bold;
}
#main_about .row .col-md-6 img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

#main_about .row .col-md-6 h1 {
  font-weight: bold;
  font-family: monospace;
}

#main_about .row .col-md-6 p {
  color: gray;
}

#main_about .row .col-md-6 span {
  color: #0dcaf098;
}

#main_about .row .col-md-6 marquee {
  background: #0dcaf04b;
}

.app-vidio span {
  font-size: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app-vidio span a {
  color: purple;
  text-decoration: none;
}

.app-vidio span a:hover {
  color: rgb(213, 1, 213);
}

#vidio {
  border-radius: 20px;
}

#blog_main img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  transition: all .2s ease-in;
}

#blog_main .row .col-md-7 a {
  text-decoration: none;
  color: orange;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 12px;
}

#blog_main .row .col-md-7 a:hover {
  color: rgba(255, 166, 0, 0.576);
}

#blog_main .row .col-md-7 h3 {
  font-weight: bold;
  font-family:arial;
}

#blog_main .row .col-md-7 p {
  color: gray;
}

#blog_main .row .col-md-7 span {
  color: rgb(173, 173, 173);
  font-size: 15px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  top: 12.5px;
  z-index: -1;
  margin-bottom: 15px;
}

@media (max-width: 768px){
  #search{
      width:100%;
  }
  #blog_main .row .col-md-7 {
    margin-top: 15px;
    margin-left: 0px !important;
}
}
#contact .row .col-md-6 span {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

#contact .row .col-md-6 h2 {
  margin: 20px 0px;
  font-family:arial;
}

#contact .row .col-md-6 h6 {
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#map iframe {
  width: 100%;
}

.c_inner {
  margin-bottom: 10px;
}

#c_form .form-control {
  background: #000;
  border: none;
  border-bottom: 1px solid #fff !important;
  border-radius: 0px;
  color: #fff;
}

#c_form .form-control:focus {
  border: none;
  box-shadow: none;
}

#c_form .form-control::placeholder {
  color: gray;
}

#c_form span {
  color: gray;
  display: block;
  margin-bottom: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#c_form h3 {
  font-family:arial;
  margin-bottom: 20px;
}

#c_form .col-md-8 {
  border-right: 1px solid gray;
}

#c_form {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 50px 30px;
}

#c_form button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#c_form img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#pepol .col-md-8 {
  border: none !important;
}

#pepol small {
  color: rgb(186, 184, 184);
  font-family: Arial, Helvetica, sans-serif;
}

#pepol h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#table img {
  width: 70px;
  height: 70px;
}

.tbl_row {
  line-height: calc(70px + 1rem);
}

#table {
  width: 100%;
}

@media (max-width:767px) {
  #pepol .row div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  #c_form .col-md-8 {
      border: none !important;
  }

  #c_form {
      border: 0px solid #000;
  }

}

@media (max-width:778) {
  #table {
      width: 778px;
      overflow: scroll;
  }

  #table table thead {
      width: 778px !important;
      overflow: scroll;
  }
}

.table {
  overflow: scroll;
  flex-wrap: nowrap;
}

#total {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
}

#total .container {
  border: 1px solid gray;
  text-align: center;
  border-radius: 5px;
}

#total .container .row .col-6 {
  padding: 10px 0px;
  border-bottom: 1px solid gray;
}

#total-theme{
  background: #212529;
}

#total .container .row .col-6:nth-child(1) {
  border-right: 1px solid gray;
}

.popover {
  background: #fff;
  color: #000;
  font-family:arial;
  font-weight: bold !important;
  font-size: 19px;
}

#bd_main {
  margin-top: 100px;
}

#bd_main .row:nth-child(1) .col-md-6:nth-child(1) {
  background: #212529;
  padding: 20px;
}

#bd_main .row .col-md-6 h1 {
  font-family:arial;
  font-weight: bolder;
  font-size: 70px;
  margin: 20px;
}

@media (max-width:778px) {
  #bd_main .row .col-md-6 h1 {
      font-size: 40px;
  }
}

#bd_main img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}

#bd_main .row .col-12 {
  font-family:arial;
  color: rgb(185, 185, 185);
}

#bd_main .row .col-12 span {
  color: #0dcaf0;
  font-size: 25px;
  font-family:arial;
}
#login input[type="email"],#reset input[type="password"],#resetpassword input[type="email"],#login input[type="text"], #login input[type="password"],#checkout input,#checkout select,#change input[type='password'],#change input[type="text"]{
  background: #212529;
  color:#fff;
  border: 1px solid gray;
}
#login input::placeholde,#checkout label{
  color:gray;
}
#reset input[type="password"]::placeholder,#change input[type='password']::placeholder,#resetpassword input[type="email"]::placeholder,#change input[type="text"]::placeholder{
  color:gray;
}
#login{
  border-radius: 20px;
}
#login h1{
  font-family:arial;
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 2rem;
}
#login label{
  font-family:arial;
}
#login button{
  font-family:arial;
}
#login small{
  display: block;
  margin-top: 20px;
  color:gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#login small a{
  text-decoration: none;
  color:#fff;
  font-weight: bold;
  font-size:medium;
}
#search input{
  background: transparent;
  color: #fff;
  border-color: gray;
}
#search input::placeholder{
  color:gray;
}
#search span{
  background: #212529;
  color:#fff;
  border-color:gray;
}
#search{
  width:50%;
}
#dashbord{
  margin-top: 65px;
}
#dashbord img{
  width: 100%;
}
#dashrow ul{
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.39);
}
#dashrow ul li{
  list-style: none;
  display: inline-block;
  color: gray;
  padding: 15px;
  cursor: pointer;
}
#dashbord .col-md-7{
  border-left: 1px solid rgba(128, 128, 128, 0.39);
}
.active-dash{
  border-bottom: 2px solid #6903f9;
  color: #fff !important;
}
#change .col-sm-8{
  background: #212529;
  border-radius: 20px;
}
#login #forget:hover{
  color: #fff !important;
  text-decoration-line: underline !important;
}
#resetpassword,#reset{
  margin-top: 65px !important;
}
#resetpassword .row{
  height: 400px;
}
#resetpassword .col-md-6, #reset .col-md-6{
  background: #212529;
  border-radius: 20px;
}
#dropdownbtn{
  position: absolute;
  top: -90px;
  right: 30px;
}
@media (max-width: 768px){
  #search{
      width:100%;
  }
}
#product_d .col-md-5 #main_img {
  width: 100%;
  border-radius: 20px;
}

#product_d img {
  width: 110px;
  /* border: 1px solid #000; */
  border-radius: 10px;
}

#product_d p {
  color: rgb(205, 205, 205);
}

@media (max-width: 414px) {
  #product_d .col-md-5 .row img {
      width: 78px;
  }

  #product_d .col-md-5 .row {
      padding-left: 20px;
  }
}